div.alphabet {
	position: relative;
	margin-bottom: 1.4em;
}

div.alphabet a {
   box-sizing: content-box;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	min-width: 1.3em;
	padding: 0 0.2em;
	opacity: 0.8;
}

div.alphabet a.active {
	opacity: 1;
	font-weight: bold;
}

div.alphabet a.empty {
	opacity: 0.3;
}

div.alphabet a.empty.active {
	opacity: 1;
}

div.alphabet .alphabet_info_display {
	padding: 0 0.5em 0 0;
}

div.alphabet div.alphabet_info {
	position: absolute;
	background-color: #111;
	border-radius: 3px;
	color: #FFF;
	margin-top: 0.2em;
	padding: 0.2em 0.4em;
	text-align: center;
	opacity: 0;
   transition: opacity .4s ease-in-out;
}

tr.alphabet_group, tr.alphabet_group:hover {
	background-color: rgba(0,0,0,0.15) !important;
}
